//Falta hacer el navbar toggler responsive

//Mixins

@mixin media-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
}

@mixin media-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
}

@mixin media-wrapper {
    @include media-flex();
    margin: 0;
    padding: 0; 
    scroll-margin-block-start: 12rem;
}

@import "MediaQueriesXS";
@import "MediaQueriesS";
@import "MediaQueriesM";
@import "MediaQueriesL";






