//Extra Small (Smartphone) < 576px
@media only screen and (max-width: 576px) {
    //Header 2 Bootstrap
     .container {
        width: 20rem;
        margin-left: 0; 
        .header-navbar-logo-img {
            width: 12rem;
        }
    }
    
    //Carousel Bootstrap
    .carousel-wrapper {
        margin-top: -10rem;
        .carousel-text-wrapper {
            margin: 1rem 0;
            color: white;
        }    
    }
    
    //About
    .about-wrapper {
        @include media-wrapper;
        scroll-margin-block-start: 16.5rem;
        .about-h2 {
            @include media-h2;
        }
        .about-p {
            @include media-p;
        }
        .about-img-wrapper {
            @include media-flex;
            margin: 0 1rem;
            padding: 1rem;
            img {
                width: 100%;
                height: auto;
                margin: 1rem 0;
                border-radius: 0.8rem;
            }
        }
    }
    
    //Products
    .products-wrapper {
        @include media-wrapper;
        scroll-margin-block-start: 16.5rem;
        .products-barrel-wrapper {
            @include media-flex;
        }
        .products-h2 {
            @include media-h2;
        }
        .products-h3 {
            margin: 0;
        }
        .products-p {
            @include media-p;
        }
        .products-img {
            margin-top: 2rem;
            margin-bottom: 2rem;
            position: static;
        }
    }
    .barrel-svg-wrapper {
        .barrel-svg-text {
            width: 100%;
        }
    }
    
    
    //Contact
    .contact-wrapper {
        @include media-wrapper;
        scroll-margin-block-start: 16.5rem;
        .contact-text-wrapper {
            @include media-wrapper;
            padding-top: 1rem;
            h2 {
                @include media-h2;
            }
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .contact-input-wrapper {
            margin: 1rem;
            height: 24rem;
            button {
                margin-left: 5rem;
            }
            input {
                width: 16.5rem;
                border: 1px solid rgb(0,0,0,0.1);
                border-radius: 1rem;
            }
            :nth-child(5) {
                padding: 0.5rem 1rem 3rem 0.5rem;
            }
        }
    }
    
    //Footer 
    .footer-wrapper {
        display: none;
        border: none;
    }
    .footer-copyright {
        background-color: white;
        border-top: 1px solid black;
        padding: 0.5rem;
    }
    }