//1 rem = 17px
.about-wrapper {
    @include media-flex;
    scroll-margin-block-start: 5rem;
    background-color: $bg-color;
    padding: 3rem;
    text-align: justify;
    .about-h2 {
        margin-left: 1rem;
        font-size:4rem;
        font-weight: bold;
    }
    .about-p {
        line-height: 2rem;
        margin: 1.3rem 15rem 1.5rem 13rem;
        font-size: 1.2rem;
    }
    .about-img-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        img {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
            border-radius: 1rem;
            margin: 1rem;
        }
        img:hover {
            transform: scale(1.03);
            transition-duration: 0.7s;
        }
    }
}