* {
    margin: 0;
    padding: 0;
}


//1 rem = 17px
.about-wrapper {
    scroll-margin-block-start: 5rem;
    background-color: #569ed9;
    padding: 3rem;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    .about-h2 {
        margin-left: 1rem;
        font-size:4rem;
    }
    .about-p {
        line-height: 2rem;
        margin: 1.3rem 15rem 1.5rem 13rem;
        font-size: 1.2rem;
    }
    .about-img-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        img {
            width: 20rem;
            height: 15rem;
            border-radius: 1rem;
            margin: 1rem;
        }
        img:hover {
            transform: scale(1.03);
            transition-duration: 0.7s;
        }
    }
}