* {
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    scroll-margin-block-start: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.3rem 12rem 2.3rem 23rem;
    background-color: #569ed9;
    .contact-text-wrapper {
        grid-column: 1;
        h2 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }
    }

    .contact-input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        grid-column: 2;
        background-color: white;
        padding: 0.8rem;
        margin: 0.8rem 10rem 0 -0.8rem;
        box-shadow: 1px 1px 1.2rem rgb(0,0,0,0.4);
        border-radius: 0.8rem;
        input {
            padding: 0.7rem;
            border: 1px solid rgb(0,0,0,0.1);
            border-radius: 1rem;
        }
        :nth-child(5) {
            padding: 0.3rem 1.2rem 3rem 0.7rem;
        }
        button {
            width: 5rem;
            padding: 0.2rem;
            border: 0.5px solid black;
            border-radius: 1rem;
        }
        button:hover {
            transform: scale(1.1);
            transition-duration: 0.78s;
        }
    }
}