.contact-wrapper {
    scroll-margin-block-start: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.3rem 12rem 2.3rem 23rem;
    background-color: $bg-color;
    .contact-text-wrapper {
        grid-column: 1;
        color: white;
        h2 {
            font-size: 4rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }

    .contact-input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        grid-column: 2;
        // background-color: white;
        // box-shadow: 1px 1px 1.2rem rgb(0,0,0,0.4);
        background: none;
        padding: 0.8rem;
        margin: 0.8rem 10rem 0 -0.8rem;
        border-radius: 0.8rem;
        border: 1px solid white;
        input, textarea {
            padding: 0.7rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 1rem;
            background: none;
        }
        input::placeholder, textarea::placeholder {
            color: white;
        }
        textarea {
            padding: 0.3rem 1.2rem 3rem 0.7rem;
        }
        button {
            background: none;
            width: 9rem;
            padding: 0.5rem;
            border: 0.5px solid white;
            border-radius: 0.8rem;
            color: white;
        }
        button:hover {
            background-color: rgba(255, 255, 255, 0.452);
            transition: 0.4s;
            transform: scale(1.01, 1.01);
            color: $bg-color;
        }
    }
}