.header-navbar-logo-img {
    width: 11rem;
}

.bg-body-tertiary {
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.334);
}

.navbar-toggler {
    margin-left: 2rem;
    margin-right: 0;
    align-items: flex-end;
}