* {
    margin: 0;
    padding: 0;
}

//Contenedor de los botones
.header-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  a {
    color: black;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  :hover {
    cursor: pointer;
    color: rgb(54, 54, 54);
  }
//Barra roja de los botones 
  .header-button-bottom-bar {
    background-color: steelblue;
    width: 85%;
    height: 5px;
  }
}
