
//Extra Small (Smartphone) < 600px
@media only screen and (max-width: 600px) {

}

//Small 600px - 768px (el max-width es temporal)
@media only screen and (min-width: 600px) and (max-width: 768px){
    //Header 1 
    // .header-wrapper {
    //     .header-topbar {
    //         display: none;
    //     }
    //     .header-navbar {
    //         border: 0;
    //         .header-navbar-logo {
    //             img {
    //                 width: 150%;
    //                 margin: 20px 0 0 70px;
    //             }
    //         }
    //     }
    //     .header-button-wrapper {
    //         margin-right: 0;
    //     }
    // }


    //Header 2 Bootstrap
    .container {
        width: 60%;
        margin-left: 20px;        
        .header-navbar-logo-img {
            width: 350px;
        }
        .navbar-toggler {
            margin-right: -180px;
        }
        
    }

    //Carousel Bootstrap
    .carousel-text-wrapper {
        margin: 0;
    }
    .content-wrapper {
        scroll-margin-block-start: 235px;
        padding: 0;
        padding-top: 20px;
        .content-h2 {
            display: inline;
            margin-left: 270px;
            padding: 10px;
            padding-top: 20px;
        }
        .content-p {
            padding: 0;
            margin: 30px 150px 20px 150px;
            font-size: 20px;
        }
        .content-img-wrapper {
            margin: 10px 150px;
            padding: 0;
            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                margin-left: 0;
            }
        }
    }

    //Products
    .products-wrapper {
        scroll-margin-block-start: 235px;
        display: block;
        margin: 0;
        padding-top: 20px;
        .products-h2 {
            display: inline;
            margin-left: 270px;
        }
        .products-h3 {
            margin-top: 10px;
            margin-left: 285px;
            margin-right: 0;
        }
        .products-p {
            padding: 0;
            margin: 20px 150px 20px 150px;
            font-size: 20px;
        }
        .products-img {
            position: static;
            width: 468px;
            height: 343.5px;
            margin: 10px 150px 40px 150px;
            padding: 0;
        }
    }
    
    //Contact
    .contact-wrapper {
        scroll-margin-block-start: 235px;
        display: flex;
        flex-direction: column;
        padding: 0;
        .contact-text-wrapper {
            h2 {
                margin-left: 35%;
                padding: 10px;
                padding-top: 20px;
                margin-bottom: 10px;
            }
            h3 {
                display: inline;
                margin-left: 306px;
                padding: 10px;
                padding-bottom: 5px; 
                margin-bottom: 0;
                font-size: 35px;
            }
            .contact-h3-2 {
                margin-left: 320.5px;
            }
            p {
                //width: 131px
                margin-left: 319px;
                padding: 5px; 
                margin-bottom: 30px;
                font-size: 25px;
            }
            .contact-p-2 {
                //width: 256px
                margin-left: 256px;
            }
        }
        .contact-input-wrapper {
            margin: 20px 223px 60px 223px;
            height: 500px;
            button {
                width: 200px;
                padding: 12px;
                font-size: 25px;
                margin: 10px 51px;
            }
            input {
                padding: 15px;
                width: 300px;
                border: 1px solid rgb(0,0,0,0.1);
                border-radius: 10px;
            }
            :nth-child(5) {
                padding: 10px 20px 40px 20px;
            }
        }
    }
    
    //Footer 
    .footer-wrapper {
        display: none;
        border: none;
    }
    .footer-copyright {
        background-color: white;
        border-top: 1px solid black;
        padding: 10px;
    }
}

//Medium devices 768px - 992px
@media only screen and (min-width: 768px) {...}


//Large devices 992px - 1200px
@media only screen and (min-width: 768px) {...}


//Extra Large devices > 1200px
@media only screen and (min-width: 768px) {...}

