@mixin media-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Falta hacer el navbar toggler responsive
//Falta arreglar los scroll-margin-block-start

//Extra Small (Smartphone) < 576px
@media only screen and (max-width: 576px) {
//Mixins
    @mixin media-p-xs {
        font-size: 1.2rem;
        margin: 0 4rem;
        padding: 0;
    }

    @mixin media-h2-xs {
        font-size: 3rem;
        margin: 0;
        padding: 1rem;
    }

    @mixin media-wrapper-xs {
        @include media-flex();
        margin: 0;
        padding: 0; 
        scroll-margin-block-start: 12rem;
    }

//Header 2 Bootstrap
 .container {
    width: 20rem;
    margin-left: 0; 
    .header-navbar-logo-img {
        width: 12rem;
    }
}

//Carousel Bootstrap
.carousel-wrapper {
    margin-top: -10rem;
    .carousel-text-wrapper {
        margin: 1rem 0;
        color: white;
    }    
}

//About
.about-wrapper {
    @include media-wrapper-xs();
    .about-h2 {
        @include media-h2-xs;
    }
    .about-p {
        @include media-p-xs;
    }
    .about-img-wrapper {
        margin: 0 1rem;
        padding: 1rem;
        img {
            width: 100%;
            height: auto;
            margin: 1rem 0;
            border-radius: 0.8rem;
        }
    }
}

//Products
.products-wrapper {
    @include media-wrapper-xs();
    .products-h2 {
        @include media-h2-xs;
    }
    .products-h3 {
        margin: 0;
    }
    .products-p {
        @include media-p-xs;
    }
    .products-img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
    }
}

//Contact
.contact-wrapper {
    @include media-wrapper-xs();
    .contact-text-wrapper {
        @include media-wrapper-xs();
        padding-top: 1rem;
        h2 {
            @include media-h2-xs;
        }
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
    .contact-input-wrapper {
        margin: 1rem;
        height: 24rem;
        button {
            margin-left: 5rem;
        }
        input {
            width: 16.5rem;
            border: 1px solid rgb(0,0,0,0.1);
            border-radius: 10px;
        }
        :nth-child(5) {
            padding: 0.5rem 1rem 3rem 0.5rem;
        }
    }
}

//Footer 
.footer-wrapper {
    display: none;
    border: none;
}
.footer-copyright {
    background-color: white;
    border-top: 1px solid black;
    padding: 0.5rem;
}
}


//Small 576px - 768px
@media only screen and (min-width: 576px) and (max-width: 768px){   
//Mixins
    @mixin media-p-s {
        font-size: 1.2rem;
        margin: 0 4rem;
        padding: 0;
    }

    @mixin media-h2-s {
        font-size: 3rem;
        margin: 0;
        padding: 1rem;
    }

    @mixin media-wrapper-s {
        @include media-flex();
        margin: 0;
        padding: 0; 
        scroll-margin-block-start: 12rem;
    }

//Header 2 Bootstrap
.container {
width: 20rem;
margin-left: 0;        
.header-navbar-logo-img {
    width: 12rem;
}
}

//Carousel Bootstrap
.carousel-wrapper {
margin-top: -3rem;
.carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
}    
}

//About
.about-wrapper {
@include media-wrapper-s();
.about-h2 {
    @include media-h2-s;
}
.about-p {
    @include media-p-s;
}
.about-img-wrapper {
    margin: 0 1rem;
    padding: 1rem;
    @include media-flex();
    img {
        width: 75%;
        height: auto;
        margin: 1rem;
        padding: 0;
        border-radius: 0.8rem;
    }
}
}

//Products
.products-wrapper {
@include media-wrapper-s();
.products-h2 {
    @include media-h2-s;
}
.products-h3 {
    margin: 0;
}
.products-p {
    @include media-p-s;
}
.products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
}
}

//Contact
.contact-wrapper {
@include media-wrapper-s();
.contact-text-wrapper {
    @include media-wrapper-s();
    padding-top: 1rem;
    h2 {
        @include media-h2-s;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
}
.contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    button {
        margin-left: 5rem;
    }
    input {
        width: 16.5rem;
        border: 1px solid rgb(0,0,0,0.1);
        border-radius: 10px;
    }
    :nth-child(5) {
        padding: 0.5rem 1rem 3rem 0.5rem;
    }
}
}

//Footer 
.footer-wrapper {
display: none;
border: none;
}
.footer-copyright {
background-color: white;
border-top: 1px solid black;
padding: 0.5rem;
}
}

//Medium 768px - 992px
@media only screen and (min-width: 768px) and (max-width: 992px) {
    //Mixins
    @mixin media-p-m {
        font-size: 1.2rem;
        margin: 0 4rem;
        padding: 0;
    }

    @mixin media-h2-m {
        font-size: 3rem;
        margin: 0;
        padding: 1rem;
    }

    @mixin media-wrapper-m {
        @include media-flex();
        margin: 0;
        padding: 0; 
        scroll-margin-block-start: 12rem;
    }

//Header 2 Bootstrap
.container {
width: 20rem;
margin-left: 0;        
.header-navbar-logo-img {
    width: 12rem;
}
}

//Carousel Bootstrap
.carousel-wrapper {
margin-top: -3rem;
.carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
}    
}

//About
.about-wrapper {
@include media-wrapper-m();
.about-h2 {
    @include media-h2-m();
}
.about-p {
    @include media-p-m();
}
.about-img-wrapper {
    margin: 0 1rem;
    padding: 1rem;
    @include media-flex();
    img {
        width: 75%;
        height: auto;
        margin: 1rem;
        padding: 0;
        border-radius: 0.8rem;
    }
}
}

//Products
.products-wrapper {
@include media-wrapper-m();
.products-h2 {
    @include media-h2-m();
}
.products-h3 {
    margin: 0;
}
.products-p {
    @include media-p-m();
}
.products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
}
}

//Contact
.contact-wrapper {
@include media-wrapper-m();
.contact-text-wrapper {
    @include media-wrapper-m();
    padding-top: 1rem;
    h2 {
        @include media-h2-m();
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
}
.contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    button {
        margin-left: 5rem;
    }
    input {
        width: 16.5rem;
        border: 1px solid rgb(0,0,0,0.1);
        border-radius: 10px;
    }
    :nth-child(5) {
        padding: 0.5rem 1rem 3rem 0.5rem;
    }
}
}

//Footer 
.footer-copyright {
background-color: #569ed9;
border-top: 1px solid black;
padding: 0.5rem;
}
}


