.products-wrapper {
    scroll-margin-block-start: 7rem;
    @include media-flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin: 2.3rem 15rem 0 15rem;
    .products-barrel-wrapper {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2 {
        font-size: 4rem;
        color: $bg-color;
        font-weight: bold;
        
    }
}