.products-wrapper {
    scroll-margin-block-start: 7rem;
    @include media-flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin: 2.3rem 15rem 0 15rem;
    .products-barrel-wrapper {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2 {
        font-size: 4rem;
        color: $bg-color;
        font-weight: bold;
    }
    // p {
    //     font-size: 1.2rem;
    // }
    // h2, h3, p {
    //     grid-column: 1;
    //     margin-left: 5rem;
    //     margin-right: 5%;
    //     padding: 0.5rem;
    //     text-align: justify;
    // }
    // .products-img {
    //     width: 80%;
    //     position: relative;
    //     bottom: 5rem;
    //     left: 2rem;
    //     border-radius: 1rem;   
    // }
    // img:hover {
    //     transform-box:view-box;
    //     transform: scale(1.03);
    //     transition-duration: 1s;
    // }
}