* {
    margin: 0;
    padding: 0;
}

.products-wrapper {
    scroll-margin-block-start: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.3rem 15rem 0 12rem;
    h2 {
        font-size: 4rem;
    }
    p {
        font-size: 1.2rem;
    }
    h2, h3, p {
        grid-column: 1;
        margin-left: 5rem;
        margin-right: 5%;
        padding: 0.5rem;
        text-align: justify;
    }
    img {
        grid-column: 2;
        width: 80%;
        position: relative;
        bottom: 80px;
        left: 35px;
        border-radius: 10px;   
    }
    img:hover {
        transform-box:view-box;
        transform: scale(1.03);
        transition-duration: 1s;
    }
}