.slider-container {
    background-color: red;
    margin: 2rem 5rem 7rem 5rem;
    height: 30rem;
    h3 {
        margin-left: 49.5%;
    }
    .slick-dots {
        li {
            margin: -1rem 2rem;
        }
    }
    img {
        z-index: 1;
        height: 30rem;
        width: 100%;
        object-fit: cover;
        margin-bottom: -0.35rem;
        background: linear-gradient(0deg, rgba(0,1,0,0) 0%, rgba(2,16,43,1) 0%, rgba(22,14,15,0.59156162464986) 35%, rgba(255,255,255,0.14338235294117652) 100%);
    }
    .black-bg {
        position: fixed;
        background: linear-gradient(0deg, rgba(0,1,0,0) 0%, rgba(2,16,43,1) 0%, rgba(22,14,15,0.59156162464986) 35%, rgba(255,255,255,0.14338235294117652) 100%);
        height: 30rem;
        width: 100%;
    }
    .slider-text-wrapper {
        position: absolute;
        color: white;
        margin: 5rem;
        z-index: 10;
        h4 {
            font-size: 5rem;       
            font-weight: 700;
        }
        h4 {
            margin-top: -1rem;
            transform: translate3d(10%, 0%, 20%)
        }
        p {
            font-size: 2rem;
            font-weight: 700;
        }
        
    }
}