// $bg-color: #569ed9;
$bg-color: rgb(0,138,252);

@mixin media-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
}

@import "Header2";
@import "Hero2";
@import "About";
@import "Products";
@import "BarrelSVG";
@import "Contact";
@import "Footer";
@import "SlickSlider";
@import "./MediaQueries/MediaQueries";





