@font-face {
  font-family: Kanit;
  src: url(../fonts/Kanit/Kanit-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  font-family: Kanit;
}

.header-navbar-logo-img {
  width: 11rem;
}

.bg-body-tertiary {
  box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.334);
}

.navbar-toggler {
  margin-left: 2rem;
  margin-right: 0;
  align-items: flex-end;
}

@font-face {
  font-family: FugazOne;
  src: url(../fonts/FugazOne-Regular.otf);
}
.hero2-wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/imgHepsaIndex4.jpg");
}
.hero2-wrapper .hero2-h1 {
  font-size: 8rem;
  margin: 2rem 0;
  font-weight: 700;
  font-family: Kanit;
}
.hero2-wrapper h2 {
  text-align: center;
  margin: 0 15rem;
  color: white;
  font-weight: 700;
}
.hero2-wrapper button {
  margin: 3.5rem 0;
  padding: 1.3rem 5rem;
  border-radius: 0.8rem;
  border: 1px solid white;
  font-size: 1.2rem;
  color: white;
  background: none;
}
.hero2-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.452);
  transition: 0.4s;
  transform: scale(1.01, 1.01);
  color: rgb(0, 138, 252);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-block-start: 5rem;
  background-color: rgb(0, 138, 252);
  padding: 3rem;
  text-align: justify;
}
.about-wrapper .about-h2 {
  margin-left: 1rem;
  font-size: 4rem;
  font-weight: bold;
}
.about-wrapper .about-p {
  line-height: 2rem;
  margin: 1.3rem 15rem 1.5rem 13rem;
  font-size: 1.2rem;
  color: white;
}
.about-wrapper .about-img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about-wrapper .about-img-wrapper img {
  width: 25rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin: 1rem;
}
.about-wrapper .about-img-wrapper img:hover {
  transform: scale(1.03);
  transition-duration: 0.7s;
}

.products-wrapper {
  scroll-margin-block-start: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.3rem 15rem 0 15rem;
}
.products-wrapper .products-barrel-wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products-wrapper h2 {
  font-size: 4rem;
  color: rgb(0, 138, 252);
  font-weight: bold;
}

.barrel-svg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  width: 30%;
}
.barrel-svg-wrapper .barrel-svg-img {
  width: 8rem;
}
.barrel-svg-wrapper .barrel-svg-text {
  color: rgb(0, 138, 252);
  text-align: center;
  margin: 1rem 0;
  width: 60%;
  font-size: 1rem;
  font-weight: 350;
}

.contact-wrapper {
  scroll-margin-block-start: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.3rem 12rem 2.3rem 23rem;
  background-color: rgb(0, 138, 252);
}
.contact-wrapper .contact-text-wrapper {
  grid-column: 1;
  color: white;
}
.contact-wrapper .contact-text-wrapper h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.contact-wrapper .contact-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-column: 2;
  background: none;
  padding: 0.8rem;
  margin: 0.8rem 10rem 0 -0.8rem;
  border-radius: 0.8rem;
  border: 1px solid white;
}
.contact-wrapper .contact-input-wrapper input, .contact-wrapper .contact-input-wrapper textarea {
  padding: 0.7rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  background: none;
}
.contact-wrapper .contact-input-wrapper input::-moz-placeholder, .contact-wrapper .contact-input-wrapper textarea::-moz-placeholder {
  color: white;
}
.contact-wrapper .contact-input-wrapper input::placeholder, .contact-wrapper .contact-input-wrapper textarea::placeholder {
  color: white;
}
.contact-wrapper .contact-input-wrapper textarea {
  overflow: hidden;
  padding: 0.3rem 1.2rem 3rem 0.7rem;
  resize: none;
}
.contact-wrapper .contact-input-wrapper button {
  background: none;
  width: 9rem;
  padding: 0.5rem;
  border: 0.5px solid white;
  border-radius: 0.8rem;
  color: white;
}
.contact-wrapper .contact-input-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.452);
  transition: 0.4s;
  transform: scale(1.01, 1.01);
  color: rgb(0, 138, 252);
}

.footer-copyright {
  background-color: rgb(0, 138, 252);
  text-align: center;
  padding: 1%;
  padding-bottom: 0.5%;
  color: white;
}

.slider-container {
  background-color: red;
  margin: 2rem 5rem 7rem 5rem;
  height: 30rem;
}
.slider-container h3 {
  margin-left: 49.5%;
}
.slider-container .slick-dots li {
  margin: -1rem 2rem;
}
.slider-container img {
  z-index: 1;
  height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -0.35rem;
  background: linear-gradient(0deg, rgba(0, 1, 0, 0) 0%, rgb(2, 16, 43) 0%, rgba(22, 14, 15, 0.5915616246) 35%, rgba(255, 255, 255, 0.1433823529) 100%);
}
.slider-container .black-bg {
  position: fixed;
  background: linear-gradient(0deg, rgba(0, 1, 0, 0) 0%, rgb(2, 16, 43) 0%, rgba(22, 14, 15, 0.5915616246) 35%, rgba(255, 255, 255, 0.1433823529) 100%);
  height: 30rem;
  width: 100%;
}
.slider-container .slider-text-wrapper {
  position: absolute;
  color: white;
  margin: 5rem;
  z-index: 10;
}
.slider-container .slider-text-wrapper h4 {
  font-size: 5rem;
  font-weight: 700;
}
.slider-container .slider-text-wrapper h4 {
  margin-top: -1rem;
  transform: translate3d(10%, 0%, 20%);
}
.slider-container .slider-text-wrapper p {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .container {
    width: 20rem;
    margin-left: 0;
  }
  .container .header-navbar-logo-img {
    width: 12rem;
  }
  .carousel-wrapper {
    margin-top: -10rem;
  }
  .carousel-wrapper .carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
  }
  .hero2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/imgHepsaIndex4.jpg");
  }
  .hero2-wrapper .hero2-h1 {
    font-size: 6rem;
    margin: 2rem 0 1.4rem 0;
    font-weight: 700;
  }
  .hero2-wrapper h2 {
    text-align: center;
    margin: 0 2rem;
    color: white;
    font-weight: 700;
  }
  .hero2-wrapper button {
    margin: 1.3rem 0;
    padding: 1.3rem 5rem;
    border-radius: 0.8rem;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background: none;
  }
  .hero2-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.452);
    transition: 0.4s;
    transform: scale(1.01, 1.01);
    color: rgb(0, 138, 252);
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .about-wrapper .about-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .about-wrapper .about-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .about-wrapper .about-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem;
  }
  .about-wrapper .about-img-wrapper img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 0.8rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .products-wrapper .products-barrel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-wrapper .products-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .products-wrapper .products-h3 {
    margin: 0;
  }
  .products-wrapper .products-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .products-wrapper .products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
  }
  .barrel-svg-wrapper .barrel-svg-text {
    width: 100%;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .contact-wrapper .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    padding-top: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h3, .contact-wrapper .contact-text-wrapper p {
    font-size: 1.5rem;
  }
  .contact-wrapper .contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-wrapper .contact-input-wrapper input {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  .contact-wrapper .contact-input-wrapper textarea {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .footer-copyright {
    background-color: rgb(0, 138, 252);
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 20rem;
    margin-left: 0;
  }
  .container .header-navbar-logo-img {
    width: 12rem;
  }
  .carousel-wrapper {
    margin-top: -3rem;
  }
  .carousel-wrapper .carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
  }
  .hero2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/imgHepsaIndex4.jpg");
  }
  .hero2-wrapper .hero2-h1 {
    font-size: 6rem;
    margin: 2rem 0 1.4rem 0;
    font-weight: 700;
  }
  .hero2-wrapper h2 {
    text-align: center;
    margin: 0 2rem;
    color: white;
    font-weight: 700;
  }
  .hero2-wrapper button {
    margin: 1.3rem 0;
    padding: 1.3rem 5rem;
    border-radius: 0.8rem;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background: none;
  }
  .hero2-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.452);
    transition: 0.4s;
    transform: scale(1.01, 1.01);
    color: rgb(0, 138, 252);
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16rem;
  }
  .about-wrapper .about-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .about-wrapper .about-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .about-wrapper .about-img-wrapper {
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-wrapper .about-img-wrapper img {
    width: 75%;
    height: auto;
    margin: 1rem;
    padding: 0;
    border-radius: 0.8rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
  }
  .products-wrapper .products-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .products-wrapper .products-h3 {
    margin: 0;
  }
  .products-wrapper .products-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .products-wrapper .products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .contact-wrapper .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    padding-top: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h3, .contact-wrapper .contact-text-wrapper p {
    font-size: 1.5rem;
  }
  .contact-wrapper .contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-wrapper .contact-input-wrapper input {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  .contact-wrapper .contact-input-wrapper textarea {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .footer-wrapper {
    display: none;
    border: none;
  }
  .footer-copyright {
    background-color: white;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 20rem;
    margin-left: 0;
  }
  .container .header-navbar-logo-img {
    width: 12rem;
  }
  .carousel-wrapper {
    margin-top: -3rem;
  }
  .carousel-wrapper .carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
  }
  .hero2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/imgHepsaIndex4.jpg");
  }
  .hero2-wrapper .hero2-h1 {
    font-size: 6rem;
    margin: 2rem 0 1.4rem 0;
    font-weight: 700;
  }
  .hero2-wrapper h2 {
    text-align: center;
    margin: 0 2rem;
    color: white;
    font-weight: 700;
  }
  .hero2-wrapper button {
    margin: 1.3rem 0;
    padding: 1.3rem 5rem;
    border-radius: 0.8rem;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background: none;
  }
  .hero2-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.452);
    transition: 0.4s;
    transform: scale(1.01, 1.01);
    color: rgb(0, 138, 252);
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .about-wrapper .about-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .about-wrapper .about-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .about-wrapper .about-img-wrapper {
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-wrapper .about-img-wrapper img {
    width: 75%;
    height: auto;
    margin: 1rem;
    padding: 0;
    border-radius: 0.8rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .products-wrapper .products-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .products-wrapper .products-h3 {
    margin: 0;
  }
  .products-wrapper .products-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .products-wrapper .products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 16.5rem;
  }
  .contact-wrapper .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    padding-top: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h3, .contact-wrapper .contact-text-wrapper p {
    font-size: 1.5rem;
  }
  .contact-wrapper .contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-wrapper .contact-input-wrapper input {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  .contact-wrapper .contact-input-wrapper textarea {
    width: 16.5rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .footer-copyright {
    background-color: rgb(0, 138, 252);
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    width: 20rem;
    margin-left: 0;
  }
  .container .header-navbar-logo-img {
    width: 12rem;
  }
  .carousel-wrapper {
    margin-top: -3rem;
  }
  .carousel-wrapper .carousel-text-wrapper {
    margin: 1rem 0;
    color: white;
  }
  .hero2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/imgHepsaIndex4.jpg");
  }
  .hero2-wrapper .hero2-h1 {
    font-size: 6rem;
    margin: 2rem 0 1.4rem 0;
    font-weight: 700;
  }
  .hero2-wrapper h2 {
    text-align: center;
    margin: 0 2rem;
    color: white;
    font-weight: 700;
  }
  .hero2-wrapper button {
    margin: 1.3rem 0;
    padding: 1.3rem 5rem;
    border-radius: 0.8rem;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background: none;
  }
  .hero2-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.452);
    transition: 0.4s;
    transform: scale(1.01, 1.01);
    color: rgb(0, 138, 252);
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 6.8rem;
  }
  .about-wrapper .about-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .about-wrapper .about-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .about-wrapper .about-img-wrapper {
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }
  .about-wrapper .about-img-wrapper img {
    width: 30%;
    height: 30rem;
    margin: 1rem;
    border-radius: 0.8rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 6.8rem;
  }
  .products-wrapper .products-h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .products-wrapper .products-h3 {
    margin: 0;
  }
  .products-wrapper .products-p {
    font-size: 1.2rem;
    margin: 0 4rem;
    padding: 0;
  }
  .products-wrapper .products-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    scroll-margin-block-start: 8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .contact-wrapper .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 12rem;
    margin-right: 2rem;
  }
  .contact-wrapper .contact-text-wrapper h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
  }
  .contact-wrapper .contact-text-wrapper h3, .contact-wrapper .contact-text-wrapper p {
    font-size: 1.5rem;
  }
  .contact-wrapper .contact-input-wrapper {
    margin: 1rem;
    height: 24rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-wrapper .contact-input-wrapper input {
    width: 17.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  .contact-wrapper .contact-input-wrapper textarea {
    width: 17.5rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .footer-copyright {
    background-color: rgb(0, 138, 252);
    padding: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */