$bg-color: #569ed9;

@mixin media-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}


@import "Header";
@import "HeaderButton";
@import "Footer";
@import "CarouselBootstrap";
@import "About";
@import "Products";
@import "Contact";
@import "./MediaQueries/MediaQueries";
@import "Header2";



